html { 
	height:100%; 
	background: green;
	overflow: hidden;
}

body { 
	position: absolute; 
	top: 0; 
	bottom: 0; 
	right: 0; 
	left: 0; 
}

#login-section {
	position: relative;
	width: 30vw;
	height: 30vh;
	background: steelblue;
	border: 1px solid blue;
	left: 35vw;
	top: 35vh;
}

#login-form {
	padding: 5vh;
}

#logout-section {
	position: relative;
	width: 100%;
	height: 4vh;
	padding: 1vh;
	text-align: right;
	background: steelblue;
}

#game-section {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;